__pycache__/
*.py[cod]

*.zip

.DS_Store

~$*.xlsx
Compliance-Results.xlsx

/package

.byebug_history
vendor/
function.zip


generated-files

**.pem

## Terraform/Terragrunt Stuff
**.tfstate
**.terraform
**.terragrunt-cache
*.tfstate.backup
**terraform.tfstate.**

## EKS kubeconfig 
kubeconfig_**
## RKE2 Kubeconfig
*rke2.yaml

## Mac
**/.DS_Store

# Docker image
heimdall2.tar
serverless-inspec.tar